<div class="wrapper bgded overlay" >
  <!-- style="background-image:url('images/demo/backgrounds/01.png');" -->
    <div id="pageintro" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <article>
        <p>Welcome to our website !!</p>
        <h3 class="heading"> Shopping or Bidding ....?</h3>
        <footer><a class="btn" href="/bidding"><strong>Bidding</strong></a>
        <a class="btn" href="/shopping"><strong>Shopping</strong></a></footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
  